datasets==3.2.0
dotenv==0.9.9
numpy==2.2.1
openai==1.59.3
pandas==2.2.3
pytorch_lightning==2.5.0.post0
together==1.3.11
torch==2.5.1
torchrl==0.6.0
tqdm==4.67.1
transformers==4.47.1
wandb==0.19.1
progress
langchain
langchain-community
langchain_openai
tiktoken==0.7.0
multiprocess==0.70.16
anthropic
colorama